<a href="https://colab.research.google.com/github/dldlsdml/practice/blob/main/sec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
al=["peach","apple","grape","banana"]
print(al[1:3])  #slice하는 방법;콜론옆에포함x

['apple', 'grape']

In [2]:
ttl= [
{"survived":0, "fare":7.25,  "age": 22,"name":"Braund, Mr. Owen Harris"},
{"survived":1, "fare":71.2833,  "age": 38,"name":"Cumings, Mrs. John Bradley (Florence Briggs Thayer)"},
{"survived":1, "fare":7.925,  "age": 26,"name":"Heikkinen, Miss. Laina"},
{"survived":1, "fare":53.1,  "age": 35,"name":"Futrelle, Mrs. Jacques Heath (Lily May Peel)"},
{"survived":0, "fare":8.05,  "age": 35,"name":"Allen, Mr. William Henry"},
{"survived":0, "fare":8.4583,  "age": 0,"name":"Moran, Mr. James"},
{"survived":0, "fare":51.8625,  "age": 54,"name":"McCarthy, Mr. Timothy J"},
{"survived":0, "fare":21.075,  "age": 2,"name":"Palsson, Master. Gosta Leonard"},
{"survived":1, "fare":11.1333,  "age": 27,"name":"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"},
{"survived":1, "fare":30.0708,  "age": 14,"name":"Nasser, Mrs. Nicholas (Adele Achem)"},
{"survived":1, "fare":16.7,  "age": 4,"name":"Sandstrom, Miss. Marguerite Rut"},
{"survived":1, "fare":26.55,  "age": 58,"name":"Bonnell, Miss. Elizabeth"},
{"survived":0, "fare":8.05,  "age": 20,"name":"Saundercock, Mr. William Henry"},
{"survived":0, "fare":31.275,  "age": 39,"name":"Andersson, Mr. Anders Johan"},
{"survived":0, "fare":7.8542,  "age": 14,"name":"Vestrom, Miss. Hulda Amanda Adolfina"},
{"survived":1, "fare":16,  "age": 55,"name":"Hewlett, Mrs. (Mary D Kingcome) "},
{"survived":0, "fare":29.125,  "age": 2,"name":"Rice, Master. Eugene"},
{"survived":1, "fare":13,  "age": 0,"name":"Williams, Mr. Charles Eugene"},
{"survived":0, "fare":18,  "age": 31,"name":"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)"},
{"survived":1, "fare":7.225,  "age": 0,"name":"Masselmani, Mrs. Fatima"},
{"survived":0, "fare":26,  "age": 35,"name":"Fynney, Mr. Joseph J"}
]

p1=[x['age'] for x in ttl if x['survived']==1]
p0=[x['age'] for x in ttl if x['survived']==0]

p1s=0
for x in p1:
  p1s=p1s+x

p0s=0
for x in p0:
  p0s=p0s+x

print(p0s/len(p0))
print(p1s/len(p1))

#산사람&죽은사람 나이 평균 구하기, len은 문자 하나하나

23.09090909090909
25.7