<a href="https://colab.research.google.com/github/dldlsdml/practice/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
type(10)

int

In [ ]:
a=1
b=2
print(a+b)

3

In [ ]:
drink='오렌지주스'
food='고기'
print("나는" +drink+ "에" +food+ "를 먹는 것을 좋아해요")

나는오렌지주스에고기를 먹는 것을 좋아해요

In [ ]:
print("나는 {1} 랑 {0} 을 먹는 것을 좋아해요 ".format(drink,food))

나는 고기 랑 오렌지주스 을 먹는 것을 좋아해요

In [ ]:
a=20
b=3
a/b

6.666666666666667

In [ ]:
a//b

6

In [ ]:
a%b

2

In [ ]:
text="""숫자와
문자는 
다르니까"""
print(text)

숫자와
문자는
다르니까

In [ ]:
a=[1, 3, 7]
a[0]
a[1]=8
a

[1, 8, 7]

In [ ]:
a[-1]

7

In [ ]:
d1={'name':'서윤', 'age':20}
d1['name']

'서윤'

In [ ]:
a=int(input())
if a>20 :
  print("20보다커")
elif a>10 :
  print("10보다 커")
else :
  print("작다")

30
20보다커

In [ ]:
print("짜장면, 짬뽕, 탕수육 중에 고르세요.")
food=input()
if food=="짜장면":
  print("당신은 짜장면을 좋아하는 사람이군요.")
elif food=="짬뽕":
  print("당신은 짬뽕을 좋아하는 사람이군요.")
elif food=="탕수육":
  print("당신은 탕수육을 좋아하는 사람이군요.")
else:
  print("당신은 중국집을 싫어하는군요.")

짜장면, 짬뽕, 탕수육 중에 고르세요.
짜장면
당신은 짜장면을 좋아하는 사람이군요.

In [ ]:
menu={}
menu["짜장면"]="당신은 짜장면을 좋아하는 사람이군요."
menu["짬뽕"]="당신은 짬뽕을 좋아하는 사람이군요."
menu["탕수육"]="당신은 탕수육을 좋아하는 사람이군요."

print("짜장면, 짬뽕, 탕수육 중에 고르세요.")
food=input()

if food in menu:
  print(menu[food])
else:
  print("당신은 중국집을 싫어하는군요.")

짜장면, 짬뽕, 탕수육 중에 고르세요.
탕수육
당신은 탕수육을 좋아하는 사람이군요.

In [ ]:
print("혈액형과 태어난 달을 넣어주세요.")
bt=input()
m=input()
if bt=="A":
  if m=="12":
    print("당신은 엄청 소심하시군요.")
  else:
    print("12월 생이 아니면, 덜 소심합니다.")
elif bt=="B":
  if m=="1":
    print("당신은 엄청 까칠하시군요.")
  elif m=="3":
    print("당신은 조금 까칠하시군요.")
else:
  print("돈을 내시면 더 볼 수 있습니다.")

혈액형과 태어난 달을 넣어주세요.
B
3
당신은 조금 까칠하시군요.

In [ ]:
draw={}
draw["1"]="초코맛입니다!"
draw["2"]="딸기맛입니다!"
draw["3"]="바나나맛입니다!"
draw["4"]="레몬맛입니다!"

for num in range(3):
  print("뽑은 번호를 입력하세요. / end를 입력하면 종료됩니다.")
  candy=input()

  if "end" in candy:
    print("뽑기가 종료되었습니다.")
    break

  if candy in draw :
    print(draw[candy])
  else :
   print("꽝")

뽑은 번호를 입력하세요. / end를 입력하면 종료됩니다.
end
뽑기가 종료되었습니다.

In [ ]:
list2 = [1, "rk", "kk"]

list2[-1]

'kk'

In [ ]:
t = (1, "rk", "kk")

t[-1]

'kk'

In [ ]:
list2[0] = "ch"
list2

['ch', 'rk', 'kk']

In [ ]:
t[0] = 'ch'
t

TypeError: ignored

In [ ]:
ttd = {
1  : {"survived":0, "fare":7.25,  "age": 22,"name":"Braund, Mr. Owen Harris"},
2  : {"survived":1, "fare":71.2833,  "age": 38,"name":"Cumings, Mrs. John Bradley (Florence Briggs Thayer)"},
3  : {"survived":1, "fare":7.925,  "age": 26,"name":"Heikkinen, Miss. Laina"},
4  : {"survived":1, "fare":53.1,  "age": 35,"name":"Futrelle, Mrs. Jacques Heath (Lily May Peel)"},
5  : {"survived":0, "fare":8.05,  "age": 35,"name":"Allen, Mr. William Henry"},
6  : {"survived":0, "fare":8.4583,  "age": 0,"name":"Moran, Mr. James"},
7  : {"survived":0, "fare":51.8625,  "age": 54,"name":"McCarthy, Mr. Timothy J"},
8  : {"survived":0, "fare":21.075,  "age": 2,"name":"Palsson, Master. Gosta Leonard"},
9  : {"survived":1, "fare":11.1333,  "age": 27,"name":"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"},
10 : {"survived":1, "fare":30.0708,  "age": 14,"name":"Nasser, Mrs. Nicholas (Adele Achem)"},
11 : {"survived":1, "fare":16.7,  "age": 4,"name":"Sandstrom, Miss. Marguerite Rut"},
12 : {"survived":1, "fare":26.55,  "age": 58,"name":"Bonnell, Miss. Elizabeth"},
13 : {"survived":0, "fare":8.05,  "age": 20,"name":"Saundercock, Mr. William Henry"},
14 : {"survived":0, "fare":31.275,  "age": 39,"name":"Andersson, Mr. Anders Johan"},
15 : {"survived":0, "fare":7.8542,  "age": 14,"name":"Vestrom, Miss. Hulda Amanda Adolfina"},
16 : {"survived":1, "fare":16,  "age": 55,"name":"Hewlett, Mrs. (Mary D Kingcome) "},
17 : {"survived":0, "fare":29.125,  "age": 2,"name":"Rice, Master. Eugene"},
18 : {"survived":1, "fare":13,  "age": 0,"name":"Williams, Mr. Charles Eugene"},
19 : {"survived":0, "fare":18,  "age": 31,"name":"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)"},
20 : {"survived":1, "fare":7.225,  "age": 0,"name":"Masselmani, Mrs. Fatima"},
21 : {"survived":0, "fare":26,  "age": 35,"name":"Fynney, Mr. Joseph J"}
}

pl=[x for x in ttd if ttd[x]["survived"]==1]
pl

[2, 3, 4, 9, 10, 11, 12, 16, 18, 20]

In [ ]:
from re import X
ttl= [
{"survived":0, "fare":7.25,  "age": 22,"name":"Braund, Mr. Owen Harris"},
{"survived":1, "fare":71.2833,  "age": 38,"name":"Cumings, Mrs. John Bradley (Florence Briggs Thayer)"},
{"survived":1, "fare":7.925,  "age": 26,"name":"Heikkinen, Miss. Laina"},
{"survived":1, "fare":53.1,  "age": 35,"name":"Futrelle, Mrs. Jacques Heath (Lily May Peel)"},
{"survived":0, "fare":8.05,  "age": 35,"name":"Allen, Mr. William Henry"},
{"survived":0, "fare":8.4583,  "age": 0,"name":"Moran, Mr. James"},
{"survived":0, "fare":51.8625,  "age": 54,"name":"McCarthy, Mr. Timothy J"},
{"survived":0, "fare":21.075,  "age": 2,"name":"Palsson, Master. Gosta Leonard"},
{"survived":1, "fare":11.1333,  "age": 27,"name":"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)"},
{"survived":1, "fare":30.0708,  "age": 14,"name":"Nasser, Mrs. Nicholas (Adele Achem)"},
{"survived":1, "fare":16.7,  "age": 4,"name":"Sandstrom, Miss. Marguerite Rut"},
{"survived":1, "fare":26.55,  "age": 58,"name":"Bonnell, Miss. Elizabeth"},
{"survived":0, "fare":8.05,  "age": 20,"name":"Saundercock, Mr. William Henry"},
{"survived":0, "fare":31.275,  "age": 39,"name":"Andersson, Mr. Anders Johan"},
{"survived":0, "fare":7.8542,  "age": 14,"name":"Vestrom, Miss. Hulda Amanda Adolfina"},
{"survived":1, "fare":16,  "age": 55,"name":"Hewlett, Mrs. (Mary D Kingcome) "},
{"survived":0, "fare":29.125,  "age": 2,"name":"Rice, Master. Eugene"},
{"survived":1, "fare":13,  "age": 0,"name":"Williams, Mr. Charles Eugene"},
{"survived":0, "fare":18,  "age": 31,"name":"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)"},
{"survived":1, "fare":7.225,  "age": 0,"name":"Masselmani, Mrs. Fatima"},
{"survived":0, "fare":26,  "age": 35,"name":"Fynney, Mr. Joseph J"}
]

sl=[x['name'] for x in ttl if x['survived']==0]

p1=[x['fare'] for x in ttl if x['survived']==1]
p0=[x['fare'] for x in ttl if x['survived']==0]
print(p1)
print(p0)

p1s=0
for x in p1:
  p1s=p1s+x
print(p1s)

p0s=0
for x in p0:
  p0s=p0s+x
print(p0s)
# 
print(p0s/len(p0))
print(p1s/len(p1))

[71.2833, 7.925, 53.1, 11.1333, 30.0708, 16.7, 26.55, 16, 13, 7.225]
[7.25, 8.05, 8.4583, 51.8625, 21.075, 8.05, 31.275, 7.8542, 29.125, 18, 26]
252.98739999999998
217.0
19.727272727272727
25.29874